<h1 mat-dialog-title>Send SMS</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <div fxLayout="row wrap">
        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
            <mat-form-field>
                <mat-select placeholder="Select Template" [(ngModel)]="templateMessage" (ngModelChange)="onTemplateSelection()">
                    <mat-option *ngFor="let x of templates" [value]="x.description">{{x.templateName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field appearance="fill">
                <textarea #descriptionText matInput cols="55" rows="6" [(ngModel)]="smsContent"></textarea>
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
            <mat-select placeholder="Select Parameter" [(ngModel)]="inputParameter"
                (ngModelChange)="onParamaterSelection(descriptionText)">
                <mat-option *ngFor="let x of parameterList" [value]="x.key">{{x.value}}</mat-option>
            </mat-select>
        </div>
    </div>
</div>
<mat-divider></mat-divider>

<div mat-dialog-actions fxLayoutAlign="end">
    <button mat-raised-button type="button" (click)="closeModal()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" (click)="onSendSMS()">Submit</button>
</div>
    