<mat-card>
  <mat-card-content>
    <div fxLayout="row wrap">
      <div class="p-10" fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Leads">
        </mat-form-field>
      </div>

      <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
        <mat-form-field>
          <mat-select placeholder="Lead Stage" [(ngModel)]="leadStageFilter"
          (ngModelChange)="onLeadStageChange()">
          <mat-option [value]="">All</mat-option>
          <mat-option *ngFor="let stage of stages" [value]="stage.id">{{stage.stage}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
        <mat-form-field>
          <mat-select placeholder="Lead Source" [(ngModel)]="leadSourceFilter"
          (ngModelChange)="onLeadSourceChange()">
            <mat-option [value]="">All</mat-option>
            <mat-option *ngFor="let src of sources" [value]="src.id">{{src.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
        <mat-form-field>
          <mat-select placeholder="Lead Owner" [(ngModel)]="leadOwnerFilter"
          (ngModelChange)="onLeadOwnerChange()">
          <mat-option [value]="">All</mat-option>
            <mat-option *ngFor="let user of owners" [value]="user.id">{{user.fullName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">
        <mat-form-field  style="margin-right: 10px;">
          <mat-select placeholder="Date type" [(ngModel)]="dateTypeFilter">
            <mat-option value="created-date">Created Date</mat-option>
            <mat-option value="modified-date">Modified Date</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="100">

        <form [formGroup]="form">
        <mat-form-field>
                <input
                    matInput
                    ngxDaterangepickerMd
                    placeholder="Choose date"
                    formControlName="selected"
                    [showCustomRangeLabel]="true"
                    [alwaysShowCalendars]="form.get('alwaysShowCalendars').value"
                    [ranges]="ranges"
                    [showClearButton]="true"
                    [showCancel]="true"
                    [linkedCalendars]="false"
                    [locale]="{ applyLabel: 'Done' }"
                    [keepCalendarOpeningWithRange]="form.get('keepCalendarOpeningWithRange').value"
                    [showRangeLabelOnInput]="form.get('showRangeLabelOnInput').value"
                    (datesUpdated)="datesUpdated($event)"
                />
            </mat-form-field>
        </form>
      </div>
      <div fxLayoutAlign="end" class="p-10" fxFlex.gt-sm="5" fxFlex.gt-xs="5" fxFlex="100">
        <button [matMenuTriggerFor]="lead_action" mat-mini-fab color="primary" aria-label="Lead Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #lead_action="matMenu" class="mymegamenu">
          <button mat-menu-item (click)="showBulkUpdate()">
            <mat-icon>sync</mat-icon> Bulk Update
          </button>
          <button mat-menu-item (click)="showChangeOwner()">
            <mat-icon>people</mat-icon> Change Owner
          </button>
          <button mat-menu-item (click)="onSendEmail()">
            <mat-icon>email</mat-icon> Send Email
          </button>
          <button mat-menu-item (click)="onSendSMS()">
            <mat-icon>message</mat-icon> Send SMS
          </button>
          <button mat-menu-item (click)="onDelete()">
            <mat-icon>settings</mat-icon> Delete
          </button>
          <button mat-menu-item (click)="onRefresh()">
            <mat-icon>sync</mat-icon> Refresh
          </button>
        </mat-menu>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? masterToggle() : null"
                            [checked]="isAtLeaseOneSelected() && isAllSelected()"
                            [indeterminate]="isAtLeaseOneSelected() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? rowToggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a style="color: blue;cursor: pointer;" [routerLink]="['/', 'lead','timeline',element.id,'presale']">
                {{element.fullName}} </a></mat-cell>
          </ng-container>

          <ng-container matColumnDef="emailId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.emailId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="primaryMobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.primaryMobile}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leadOwnerName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Owner </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.leadOwnerName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sourceDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Lead Source </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sourceDescription}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastNote">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Note </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastNote}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="stageDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Stage </mat-header-cell>
            <mat-cell *matCellDef="let element"> <span class="text-label status-label"
                [ngStyle]="{'background-color': element.stageColor }">
                {{element.stageDescription}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="updatedBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Modified By </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.updatedBy}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.createdDate | date : "dd/MM/y hh:mm a"}} </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
              </mat-footer-cell>
            </ng-container> -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <!-- <mat-footer-row *matFooterRowDef="['loading']" ngClass="{'hide-loading-row':dataSource !=null}"></mat-footer-row> -->

        </table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20,50,100]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
