<span mat-dialog-title>Forgot Password</span>
<form [formGroup]="passwordform" (submit)="onSubmit()">
    
<div mat-dialog-content>
      <div fxLayout="row wrap">

        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Email id" [formControl]="f.email" required>
          </mat-form-field>
          <small *ngIf="f.email.hasError('required') && f.email.touched" class="text-danger font-14">You must include an email address.</small>
          <small *ngIf="f.email.errors?.email && f.email.touched" class="text-danger font-14">You must include a valid email address.</small>
        
            <mat-hint *ngIf="submitted && hasError" class="text-danger font-14">
                {{ errorMessage }}
            </mat-hint>
        </div>        
      </div>
</div>
<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-raised-button type="button" (click)="closeModal()" class="m-r-10">Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!passwordform.valid">Send</button>
</div>

</form>
