<span mat-dialog-title>Reset Password</span>
<mat-divider></mat-divider>
<form [formGroup]="resetForm" (submit)="onReset()">
    
<div mat-dialog-content>
      <div fxLayout="row wrap">

        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input type="password" matInput placeholder="Old password" [formControl]="f.oldpassword" required>
          </mat-form-field>
          <small *ngIf="f.oldpassword.hasError('required') && f.oldpassword.touched" 
          class="text-danger font-14">You must include an old password.</small>
          <mat-hint *ngIf="submitted && hasError" class="text-danger font-14">
            {{ errorMessage }}
        </mat-hint>
        </div>        
      </div>

      <div fxLayout="row wrap">

        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field style="width: 100%">
            <input matInput type="password" placeholder="New Password" [formControl]="f.newpassword">
          </mat-form-field>
          <small *ngIf="f.newpassword.hasError('required') && f.newpassword.touched" 
          class="text-danger support-text">You must include password.</small>
    
          
        </div>        
      </div>

      <div fxLayout="row wrap">

        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Confirm Password" [formControl]="f.confirmpassword" type="password">
            </mat-form-field>
            <small *ngIf="f.confirmpassword.hasError('required') && f.confirmpassword.touched" class="text-danger support-text">You must include confirm password.</small>
            <small *ngIf="f.confirmpassword.errors?.equalTo" class="text-danger support-text">Passwords do not math.</small>
        </div>        
      </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-raised-button type="button" (click)="closeModal()" class="m-r-10">Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid">Send</button>
</div>

</form>


<!-- <form [formGroup]="resetForm" (ngSubmit)="onReset()">
    
    <div class="ui-dialog-content">
        <div class="row">
            <div class="form-group col-sm-12 row">
                <label class="col-sm-4 col-form-label" for="email">Email<sup>*</sup></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="email" maxlength="50"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>     
        </div>
        <div class="row">
            <div class="form-group col-sm-12 row">
                <label class="col-sm-4 col-form-label" for="oldpassword">Old Password<sup>*</sup></label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" formControlName="oldpassword" maxlength="50"
                            [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />

                    <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.oldpassword.errors.required">Old password is required</div>
                    </div>
                </div>
            </div>     
        </div>
        <div class="row">
            <div class="form-group col-sm-12 row">
                <label class="col-sm-4 col-form-label" for="newpassword">New Passwrod<sup>*</sup></label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" formControlName="newpassword" maxlength="50"
                            [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" />

                    <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newpassword.errors.required">New password is required</div>
                    </div>
                </div>
            </div>     
        </div>
        <div class="row">
            <div class="form-group col-sm-12 row">
                <label class="col-sm-4 col-form-label" for="confirmpassword">Confirm Password<sup>*</sup></label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" formControlName="confirmpassword" maxlength="50"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />

                    <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmpassword.errors.required">Email is required</div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    <div class="ui-dialog-footer">
        <button type="submit" class="btn btn-primary">Send</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    </div>

</form> -->