<h1 mat-dialog-title>Landing Page</h1>
<mat-divider></mat-divider>
<form [formGroup]="pageForm" (submit)="onSave()">

<div mat-dialog-content>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <mat-select required placeholder="Select type" [formControl]="f.type">
                <mat-option value="Landing Page">Landing Page</mat-option>
                <mat-option value="Website">Website</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
           <mat-form-field>
            <input  matInput required placeholder="Name" [formControl]="f.name">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
           <mat-form-field>
            <input  matInput required placeholder="Enter url" [formControl]="f.url">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <mat-select placeholder="Select Field Type" [formControl]="f.fieldType" required>
              <mat-option value="id">By Id</mat-option>
              <mat-option value="name">By Name</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
           <mat-form-field>
            <input  matInput required placeholder="Mapped Name Field" [formControl]="f.nameField">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
           <mat-form-field>
            <input  matInput required placeholder="Mapped Mobile Field" [formControl]="f.mobileField">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
           <mat-form-field>
            <input  matInput required placeholder="Mapped Email Field" [formControl]="f.emailField">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
           <mat-form-field>
            <input  matInput required placeholder="Mapped Description Field" [formControl]="f.descriptionField">
          </mat-form-field>
        </div>
      </div>

</div>
<mat-divider></mat-divider>

<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-raised-button type="button" (click)="onClose()">Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!pageForm.valid">Submit</button>
</div>

</form>
