<mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search firms">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="65" fxFlex.gt-xs="65" fxFlex="100">
        </div>
        <div fxLayoutAlign="center end" class="p-10" fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="100">
                <button mat-raised-button color="primary" (click)="onCreate()">
            Add Firm</button>
        </div>
      </div>

        <div class="row wrap">
          <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="firmName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.firmName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ownerName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ownerName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="city" >
              <mat-header-cell *matHeaderCellDef mat-sort-header > City </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="gstno">
              <mat-header-cell *matHeaderCellDef> GST No </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.gstno }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="panNo">
                <mat-header-cell *matHeaderCellDef> PAN No </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.panNo }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="aadharNo">
                <mat-header-cell *matHeaderCellDef> Aadhar No </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.aadharNo }} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="createdBy">
                <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.createdBy }} </mat-cell>
              </ng-container>

            <ng-container matColumnDef="createdDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.createdDate | date : "dd/MM/y hh:mm a" }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
        </div>
        </div>
    </mat-card-content>
  </mat-card>
