<h1 mat-dialog-title>Firm Information</h1>
<mat-divider></mat-divider>
<form [formGroup]="firmForm" (submit)="onSubmit()">
    
<div mat-dialog-content>
      <div fxLayout="row wrap">

        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Firm name" [formControl]="f.firmName" required>
          </mat-form-field>
          <mat-hint
            *ngIf="f.firmName.hasError('required') && f.firmName.touched"
            class="text-danger font-14">You must include a firm name.</mat-hint>
        </div>

        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Owner Name" [formControl]="f.ownerName">
          </mat-form-field>
        </div>        
      </div>

      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Aadhar Number" maxlength="16" [formControl]="f.aadharNo">
          </mat-form-field>
        </div>        
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field>
              <input matInput placeholder="Pan Number" maxlength="10" [formControl]="f.panNo">
            </mat-form-field>
          </div>        
      </div>

      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="GST Number" [formControl]="f.gstNo">
          </mat-form-field>
        </div>        
      </div>

      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Address" [formControl]="f.address">
          </mat-form-field>
        </div>      
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field>
              <input matInput placeholder="City" [formControl]="f.city">
            </mat-form-field>
          </div>
    
      </div>

      <div fxLayout="row wrap">

        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <mat-select placeholder="Select Country" [formControl]="f.countryId" 
            (ngModelChange)="onCountryChange()">
              <mat-option *ngFor="let x of countryList" [value]="x.id">{{x.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <mat-select placeholder="Select State" [formControl]="f.stateId">
              <mat-option *ngFor="let x of stateList" [value]="x.id">{{x.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
   
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Zip Code" [formControl]="f.zipCode">
          </mat-form-field>
        </div>        
      </div>

</div>
<mat-divider></mat-divider>
<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-raised-button type="button" (click)="onClose()">Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!firmForm.valid">Submit</button>
</div>

</form>
