<mat-card>
  <mat-card-content>
    <div fxLayout="row wrap">
      <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search campaigns">
        </mat-form-field>
      </div>
      <div class="p-10" fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100">
      </div>
      <div fxLayoutAlign="center end" class="p-10" fxFlex.gt-sm="35" fxFlex.gt-xs="35" fxFlex="100">
        <button mat-raised-button color="primary" class="m-r-10" (click)="redirectToCampaign()">New
          Campaign</button>
        <button mat-raised-button color="primary" class="m-r-10" (click)="redirectToTemplate()">New
          Template</button>
        <button mat-raised-button color="primary" class="m-r-10" (click)="redirectToTemplateList()">Template
          List</button>
          <button mat-raised-button color="primary" (click)="deleteCampaign()">Delete</button>

      </div>
    </div>

    <div fxLayout="row wrap">
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

        <mat-table #table [dataSource]="dataSource" matSort sortChange="sortChange()">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? masterToggle() : null"
                            [checked]="isAtLeaseOneSelected() && isAllSelected()"
                            [indeterminate]="isAtLeaseOneSelected() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? rowToggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="campaignName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a *ngIf="element.status == 'Completed'" style="color: blue;cursor: pointer;"
                [routerLink]="['/', 'marketing','email-campaign-detail',element.id]">
                {{element.campaignName}}
              </a>
              <a *ngIf="element.status != 'Completed'">
                {{element.campaignName}}
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="subject">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.subject}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="from">
            <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leadListName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Recipients </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.recipientCount }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="scheduledOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Scheduled Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.scheduledOn | date : "dd/MM/y hh:mm:ss a"}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <!-- <mat-footer-row *matFooterRowDef="['loading']" ngClass="{'hide-loading-row':dataSource !=null}"></mat-footer-row> -->

        </mat-table>
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20,50]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>

  </mat-card-content>
</mat-card>
