<mat-card>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search automations">
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm="65" fxFlex.gt-xs="65" fxFlex="100">
        </div>
        <div fxLayoutAlign="center end" class="p-10" fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="100">
          <button mat-raised-button color="primary"
          [routerLink]="['/admin/automation-add']">Add Automation</button>
        </div>
      </div>
      <div class="row wrap">

      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-table #table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a style="color: blue;cursor: pointer;" [routerLink]="['/', 'admin','automation-edit',element.id]">
                {{element.name}} </a></mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="projectName" >
              <mat-header-cell *matHeaderCellDef mat-sort-header > Projects </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.projectName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="trigger">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Trigger </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.trigger}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdBy">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Created By </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.createdBy}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.createdDate | date :'dd/mm/yyyy'}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.isActive" (change)="updateActiveStatus(element)"></mat-slide-toggle>
              </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
              </mat-footer-cell>
            </ng-container> -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <!-- <mat-footer-row *matFooterRowDef="['loading']" ngClass="{'hide-loading-row':dataSource !=null}"></mat-footer-row> -->

          </mat-table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
